# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [7]:
def lesser_of_two_evens(a,b):
    
    #see if the two num are even
    
    if a % 2 == 0 and b % 2 == 0 :
        
        #if yes get the smallest num.
        
        if a<=b :
            return a 
        else :
            return b
    else:
        
        #if no get the largest num.
        
        if a>=b :
            return a 
        else :
            return b

In [8]:
# Check
lesser_of_two_evens(2,4)

2

In [9]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [17]:
def animal_crackers(text):
    
    #split the text string into words in a list using split()
    
    word = text.split()
    
    #see if the 1st litter 1st word is equale to the 1st litter 2st word    
    if word[0][0]==word[1][0]:
        
        # if yes return true
        
        return True
    else:
        
        # if no return fales
        
        return False

In [18]:
# Check
animal_crackers('Levelheaded Llama')

True

In [19]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
    
    #see if any of the two num. equal 20
    
    if n1 == 20 or n2 == 20 :
        
        return True
    
    #if not see if the sum of the two num. equal 20
    
    elif n1 + n2 == 20 :
        
        return True
    
    #if not return False
    
    else :
        
        return False

In [24]:
# Check
makes_twenty(20,10)

True

In [25]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [62]:
def old_macdonald(name):
    
    # we will mant an empth string to concaclat the litters to it and for ( name[0].capitalize()) so there will be no error
    
    the_new_word = ''
    
    #we will pass throw all the litters
    
    for i in range(len(name)):
        
        # if it is 0 of 3 capitalize it
        
        if i == 0 :
            
            litt = litt + name[0].capitalize()
            
        elif i==3 :
            
            litt = litt + name[3].capitalize()
            
            # if else dont capitalize it
            
        else :
            litt = litt + name[i]
        
    return litt

In [63]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [81]:
def almost_there(n):
    
    # we see if n is within the range of the numbers from 90 to 110 if so we return true
    
    if n in range(90,111) :
        
        return True
    
    # if not we see if n is within the range of the numbers from 190 to 210 if so we return true
    
    elif n in range(190,211) :
        
        return True
    
    # if not we return false
    
    else:
        
        return False

In [82]:
# Check
almost_there(104)

True

In [83]:
# Check
almost_there(150)

False

In [84]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [90]:
def has_33(nums):
    
    # we will go throw the lenth of the list from n to n-1(so we dont go over the lest bec nums[i+1])   
    
    for i in range(len(nums)-1) :
        
        # we 1st see if the number is 3 if it is we see if it equal the next num. in the list if they are equal then 
        #we return true
         
        if nums[i] == 3 and nums[i]== nums[i+1]:
            
            return True
        
        # if not we return false
        
    else:
        
        return False

In [91]:
# Check
has_33([1, 3, 3])

True

In [92]:
# Check
has_33([1, 3, 1, 3])

False

In [93]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [97]:
def paper_doll(text):
    
     # we will made an empth string to concaclat the litters to it and for (the_new_word + text[i]*3) so there will be no error
    
    the_new_word = ''
    
    #we will pass throw all the litters using index
    
    for i in range(len(text)):
        
        #we will mult a litter then we concalted to the litter befor it
        
        the_new_word = the_new_word + text[i]*3
        
    return the_new_word

In [98]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [99]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [138]:
def blackjack(a,b,c):
    
    # we will add the 3 valus
    
    sumbion = a+b+c
    
    # if we add them and they aare less or equle than 21 then we return the sum
    
    if sumbion <= 21 :
        
        return sumbion
    
    # if not we see if any of them is 11 if so we see if the sum after we sub 10 
    #is less or equle than 21 then we return the sum
    
    elif (a == 11 or b == 11 or c == 11) and sumbion - 10 <= 21:
            
        return sumbion-10
    
    # if not we return 'Bust'
    
    else :
        return 'Bust'

In [139]:
# Check
blackjack(5,6,7)

18

In [140]:
# Check
blackjack(9,9,9)

'Bust'

In [141]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [165]:
def summer_69(arr):
    
    summ =0
    lock = True
    
    for i in range(len(arr)):
            
        if arr[i] == 6:
            lock = False
        elif arr[i]== 9:
            lock = True
        
        if lock :
            summ == summ + arr[i]
            
    return summ

In [166]:
# Check
summer_69([1, 3, 5])

0

In [167]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

0

In [168]:
# Check
summer_69([2, 1, 6, 9, 11])

0

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [180]:
def spy_game(nums):
    
   #will make a list of the reqired num.

    spy = [0,0,7,'game']

    #we will go throw the list
    
    for n in nums:
        
        #if the num is equal to last num in the list
        
        if n == spy[0]:
        
            # we remov it
            
            spy.pop(0)
            
            
    #if in the end the list is 1 we will return true
    
    return len(spy) == 1

In [181]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [182]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [183]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

## Great Job!